@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

body::-webkit-scrollbar{
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

#root{
  width: 100%;
}
